<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.farmcheapimagerecognition">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/fmc"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FarmCheapImageRecognition">
        <activity
            android:name=".suggestionMenu"
            android:exported="true" />
        <activity
            android:name=".pestSuggestion"
            android:exported="true" />
        <activity
            android:name=".diseaseSuggestion"
            android:exported="true" />
        <activity
            android:name=".nutrientSuggestion"
            android:exported="true" />
        <activity
            android:name=".RecognitionPage"
            android:exported="true" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>